/***
    The new CSS reset - version 1.11.3 (last updated 25.08.2024)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
    - The "html" element is excluded, otherwise a bug in Chrome breaks the CSS hyphens property (https://github.com/elad2412/the-new-css-reset/issues/36)
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Fix mobile Safari increase font-size on landscape mode */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
    cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu,
summary {
    list-style: none;
}

/* Firefox: solve issue where nested ordered lists continue numbering from parent (https://bugzilla.mozilla.org/show_bug.cgi?id=1881517) */
ol {
    counter-reset: revert;
}

/* For images to not be able to exceed their container */
img {
    max-inline-size: 100%;
    max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
    -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
    -webkit-appearance: revert;
    appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
    all: revert;
    box-sizing: border-box;
}

/* reset default text opacity of input placeholder */
::placeholder {
    color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
    display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
    -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
    all: revert;
    box-sizing: border-box;
}

/* Remove details summary webkit styles */
::-webkit-details-marker {
    display: none;
}

:root {
    --font-family: 'Kumbh Sans', serif, sans-serif;
    --primary-color: #2e3349;
    --secondary-color: #6b7082;
    --background-color: #19a1ae;
    --line-color: #e8e9ec;
    --card-width-mobile: 326px;
    --card-width-desktop: 350px;
    --pattern-size-mobile: 622px;
    --pattern-size-desktop: 978px;
    --border-radius: 15px;
}

html {
    font-family: var(--font-family);
    font-optical-sizing: auto;
}

main {
    background-color: var(--background-color);
    min-height: 100vh;
    min-width: 375px;
    display: grid;
    place-items: center;
    position: relative;
    overflow: hidden;
}

.card {
    background-color: #fff;
    border-radius: var(--border-radius);
    width: var(--card-width-mobile);
    position: relative;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.card__bg-img {
    object-fit: cover;
    z-index: -1;
}

.card__profile-img,
.card__profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card__profile-img img {
    border-radius: 50%;
    border: 5px solid #fff;
    margin-top: -60px;
}

.card__profile {
    margin-top: 20px;
    margin-bottom: 24px;
    row-gap: 8px;
}

.card__profile-name {
    font-size: 18px;
    font-weight: 700;
    color: var(--primary-color);
}

.card__profile-age {
    font-weight: 400;
    color: var(--secondary-color);
    margin-left: 8.5px;
}

.card__profile-location {
    font-size: 14px;
    font-weight: 400;
    color: var(--secondary-color);
}

hr {
    border: 1px solid var(--line-color);
}

.card__stats {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 24px;
}

.card__stats-number {
    font-size: 18px;
    font-weight: 700;
    color: var(--primary-color);
    margin-bottom: 9px;
}

.card__stats-label {
    font-size: 10px;
    font-weight: 400;
    color: var(--secondary-color);
    letter-spacing: 1.5px;
}

main::before,
main::after {
    content: '';
    position: absolute;
    width: var(--pattern-size-mobile);
    height: var(--pattern-size-mobile);
    background-repeat: no-repeat;
    background-size: 100%;
}

main::before {
    background-image: url(../images/bg-pattern-top.svg);
    top: -334px;
    left: -411px;
}

main::after {
    background-image: url(../images/bg-pattern-bottom.svg);
    bottom: -300px;
    right: -417px;
}

@media (min-width: 1440px) {
    .card {
        width: var(--card-width-desktop);
    }

    main::before,
    main::after {
        width: var(--pattern-size-desktop);
        height: var(--pattern-size-desktop);
    }

    main::before {
        top: -490px;
        left: -275px;
    }

    main::after {
        bottom: -585px;
        right: -235px;
    }
}